@font-face {
  font-family: "Karma";
  src: url("Karma/Karma-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Karma";
  src: url("Karma/Karma-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Karma";
  src: url("Karma/Karma-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Karma";
  src: url("Karma/Karma-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Karma";
  src: url("Karma/Karma-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body
{
    overflow-x: hidden;
}

.logo
{
    height: 100%;
}

.nav-parent
{
    display: flex;
    align-items: center;
    gap: 100px;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 0px;
    padding-bottom: 0px;
}

.nav-child
{
    display: flex;
    align-items: center;
    gap: 80px;
}

a
{
    color: #242526;
    text-decoration: none;
    font-family: "Karma";
    font: "Karma";
    font-size: 19px;
}

a:hover
{
    color: #341539;
    text-decoration: none;
    font-family: "Karma";
    font: "Karma";
    font-size: 19px;
}

button
{
    display: flex;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #341539;
    color: #F9FAFB;
    text-decoration: none;
    font-family: "Karma";
    font: "Karma";
    font-size: 19px;
    border: none;
    transition: all 0.3s ease;    
}

button:hover
{
    background-color: #913B9F;
    transform: scale(1.05);
}

.hero-button
{
    background: #F9FAFB;
    color: #242526;
    font-size: 16px;
    border-radius: 65px;
    border: 1.5px solid #f0f0f0;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 35px
}

.hero-button:hover
{
    color: #F9FAFB;
    background: #341539;
    transform: scale(1.03);
    transition: 0.5s ease;   
    border: none;
}

.spacing
{
    padding: 35px
}

.hero
{
    display: flex;
    padding-top: 50px;
    padding-left: 205px
}

.hero-text
{
    flex: 1;
    flex-grow: 1;
}

.hero-image
{
    display: flex;
    flex: 1;
    flex-grow: 2;
    overflow: visible;
}

.hero-image img
{
  width: 150%;
  height: auto;
  padding-top: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-left: 0px;
  transform: translate(-8%, -45px);
}

.big-companies-row
{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 50
}


h1
{
    font-family: "Karma";
    font-size: 50px;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px
}

p
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #A0A0A0;
    padding-top: 0px;
    margin-top: 20px
}


.big-companies {
  white-space: nowrap;
}

.big-companies img {
  height: 50px;
  width: auto;
  margin: 0 24px;
  opacity: .85;
  vertical-align: middle;
}